* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
body {
  background: #f0f2f5;
  color: #5f5f5f;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #5f5f5f;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 6px 6%;
  position:fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo img {
  width: 30px;
  margin-right: 15px;
  display: block;
}
.navbar-center {
  width: 60%;
}
.navbar-center ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 32px;
    overflow: hidden;
    flex-wrap: wrap;
}
.navbar-center ul li {
  display: inline-block;
  list-style: none;
  margin: auto 10px;
  padding: auto 5px;
}
.navbar-center ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
}
.navbar-center ul li a img {
  width: 30px;
}
.navbar-center ul li a::after {
  content: '';
  height: 2px;
  width: 0%;
  background: #1877f2;
  position: absolute;
  bottom: -10px;
  transition: width 0.3s;
}
.navbar-center ul li a:hover::after, .navbar-center ul li a.active-link::after{
  width: 100%;
}
.active-link:active{
  opacity: 50%;
}
.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar-right img {
  width: 34px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}
.online {
  position: relative;
}
.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: rgb(0, 172, 0);
  top: 0;
  right: 0;
  position: absolute;
}
.search-bar {
  display: flex;
  align-items: center;
  background: #f0f2f5;
  padding: 0px 10px;
  border-radius: 50px;
}
.navbar-left{
  display: flex;
  align-items: center;
}
.search-bar img {
  width: 14px;
}
.search-bar input {
  border: none;
  background: transparent;
  margin-left: 8px;
  padding: 8px 0;
  outline: none;
}
.search-bar input::placeholder {
  color: #5f5f5f;
  font-size: 14px;
}


/* .navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 6px 6%;
  position:fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar:last-child{
  margin-left: auto;
}

.logo img {
  width: 30px;
  margin-right: 15px;
  display: block; 
}
.navbar-center{
  width: 60%;
  display: flex;
  align-items: center;
}
.navbar-center ul{
  width: 100%;
  max-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  flex-wrap: wrap
}
.navbar-center ul li {
  display: inline-block;
  list-style: none;
}
.navbar-center ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 14px;
  padding-right: 5px;
  position: relative;
}
.navbar-center ul li a img {
  width: 30px;
}
.navbar-center ul li a::after {
  content: '';
  height: 2px;
  width: 0%;
  background: #1877f2;
  position: absolute;
  bottom: -10px;
  transition: width 0.3s;
}
.navbar-center ul li a:hover::after, .navbar-center ul li a.active-link::after{
  width: 100%;
}
.active-link:active{
  opacity: 50%;
}
.navbar-right {
  margin-left: auto;
}
.navbar-right img {
  width: 34px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}
.online {
  position: relative;
}
.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: rgb(0, 172, 0);
  top: 0;
  right: 0;
  position: absolute;
}
.search-bar {
  display: flex;
  align-items: center;
  background: #f0f2f5;
  padding: 0px 10px;
  border-radius: 50px;
  margin-left: 15px;
}
.navbar-left{
  display: flex;
  align-items: center;
}
.search-bar img {
  width: 14px;
}
.search-bar input {
  border: none;
  background: transparent;
  margin-left: 8px;
  padding: 8px 0;
  outline: none;
}
.search-bar input::placeholder {
  color: #5f5f5f;
  font-size: 14px;
} */

/* ----------Navbar End---------- */

/* ---------------Profile Menu Starts------------ */
.profile-menue-wrap{
  position: absolute;
  top: 100%;
  right: 5%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.profile-menue-wrap.open-now{
  max-height: 400px;
}

.profile-menu{
  background: #222;
  color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5%;
}
.user-info{
  display: flex;
  align-items: center;
}
.user-info img{
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.user-info h3{
  margin-bottom: -5px;
}
.user-info a{
  color: #c9dbf8;
  font-size: 13px;
}
.user-info a:active{
  opacity: 50%;
}
.profile-menu hr{
  border: none;
  height: 1px;
  width: 100%;
  background: #fff;;
  margin: 15px 0 10px;
}
.profile-menu-link{
  display: flex;
  align-items: center;
  color: #fff;
  margin: 12px 0;
  font-size: 14px;
}
.profile-menu-link p{
  width: 100%;
}
.profile-menu-link img{
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}





.container{
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

/* ----------Left Sidebar Start---------- */
.left-sidebar{
  width: 25%; 
  align-self: flex-start;
  position: sticky;
  top: 60px;
}
.sidebar-profile-box{
  background: #fff;
}
.sidebar-profile-info{
  padding: 0 25px;
}
.sidebar-profile-info .profile-pic-container{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: -45px 0 20px 0;
  border: 3px solid #fff;
  position: relative;
  z-index: 1;
  background: url(images/user-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sidebar-profile-info h1{
  font-size: 20px;
  font-weight: 600;
  color: #222;
}
.sidebar-profile-info h3{
  font-size: 14px;
  font-weight: 500;
  color: #777;
}
.sidebar-profile-info ul{
  list-style: none;
  margin: 20px 0;
}
.sidebar-profile-info ul li{
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
}
.sidebar-profile-info ul li span{
  float: right;
  color: #045be6;
}

.sidebar-profile-link{
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}
.sidebar-profile-link a{
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 13px;
  border-left: 1px solid #ccc;
}
.sidebar-profile-link a:first-child{
  border-left: none;
}
.sidebar-profile-link a img{
  width: 20px;
  margin-right: 10px;
}

.sidebar-activity{
  background: #fff;
  margin: 12px 0;
  padding: 5px 25px;
}
.sidebar-activity h3{
  color: #777;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px 0;
}
.sidebar-activity a{
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin: 3px 0;
}
.sidebar-activity a img{
  width: 16px;
  margin-right: 10px;
}

.discover-more{
  border-top: 1px solid #ccc;
  padding-top: 5px;
  text-align: center;
  margin-top: 10px;
  margin-left: -25px;
  margin-right: -25px;
}
.discover-more a{
  font-size: 13px;
  font-weight: 500;
  color: #045be6;
  display: inline-block;
  padding: 5px 0;
}








/* ----------Main Sidebar Start---------- */
.main-sidebar{
  flex-basis: 47%;
  align-self: flex-start; 
}
.create-post{
  background: #fff;
}
.create-post-input{
  padding: 20px 25px 10px;
  display: flex;
  align-items: flex-start;
}
.create-post-input img{
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.create-post-input textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  margin-top: 10px;
  resize: none;
  font-size: 14px;
  font-weight: 500;
}
::placeholder{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.create-post-links{
  display: flex;
  align-items: flex-start;
}
.create-post-links li{
  list-style: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  flex-basis: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.create-post-links li img{
  width: 20px;
  margin-right: 5px;
}
.create-post-links li:last-child{
  border-right: 0;
  background: #045be6;
  color: #fff;
}
.create-post-links li:last-child:active{
  opacity: 50%;
}

.sort-by{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.sort-by hr{
  flex: 1;
  border: 0 ;
  height: 1px;
  background: #ccc;
}
.sort-by p{
  font-size: 13px;
  padding-left: 5px;
}
.sort-by p span{
  font-weight: 600;
  cursor: pointer;
}
.sort-by p span img{
  width: 12px;
  margin-left: 3px;
}

.post{
  background: #fff;
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
}
.post-author{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.post-author img{
  width: 35px;
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 10px;
}
.post-author h1{
  font-size: 18px;
  margin-bottom: 4px;
  font-weight: 600;
  color: #333;
}
.post-author small{
  display: block;
  margin-bottom: -2px;
}

.post p{
  font-size: 14px;
  margin-bottom: 15px;
}

.post-stats{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}
.post-stats div{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.post-stats div img{
  width: 15px;
  margin-right: -5px;
}
.liked-users{
  margin-left: 10px;
}

.post-activity{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}
.post-activity div{
  display: flex;
  align-items: center;
}
.post-activity-user-icon{
  width: 22px;
  border-radius: 50%;
}
.post-activity-arrow-icon{
  width: 12px;
  margin-left: 5px;
}
.post-activity-link img{
  width: 18px;
  margin-right: 8px;
}








/* ----------Right Sidebar Start---------- */
.right-sidebar{
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 60px; 
}
.sidebar-news{
  background: #fff;
  padding: 15px 20px;
}
.info-icon{
  width: 15px;
  float: right;
}
.sidebar-news h3{
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0 0 20px;
}
.sidebar-news a{
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -3px;
}
.sidebar-news span{
  font-size: 12px;
}
.sidebar-news .read-more-link{
  color: #045be6;
  font-weight: 500;
  margin: 20px 0 10px;
}

.sidebar-ad{
  background: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}
.sidebar-ad img{
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}
.sidebar-ad small{
  float: right;
  font-weight: 500;
}
.sidebar-ad p{
  margin-top: 30px;
  margin-bottom: 10px;
}
.sidebar-ad b{
  display: block;
  font-weight: 500;
  margin-top: 10px;
}
.ad-link{
  display: inline-block;
  border: 1px solid #045be6;
  padding: 5px 15px;
  border-radius: 50px;
  color: #045be6;
  font-weight: 500;
  margin: 20px auto 10px;
}
.ad-link:hover{
  background: #045be6;
  color: #fff;
  transition: 0.2s ease;
}
.ad-link:active{
  opacity: 50%;
}

.sidebar-useful-links{
  padding: 15px 25px;
  text-align: center;
}
.sidebar-useful-links a{
  display: inline-block;
  font-size: 14px;
  margin: 4px 5px;
}

.copyright-msg{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
  margin-top: 30px;
  font-weight: 500;
}
.copyright-msg img{
  width: 14px;
  margin-right: 4px;
}








