* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}
body {
  background: #f0f2f5;
  color: #5f5f5f;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #5f5f5f;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  padding: 6px 6%;
  position:fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo img {
  width: 30px;
  margin-right: 15px;
  display: block;
}
.navbar-center {
  width: 60%;
}
.navbar-center ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 32px;
    overflow: hidden;
    flex-wrap: wrap;
}
.navbar-center ul li {
  display: inline-block;
  list-style: none;
  margin: auto 10px;
  padding: auto 5px;
}
.navbar-center ul li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
}
.navbar-center ul li a img {
  width: 30px;
}
.navbar-center ul li a::after {
  content: '';
  height: 2px;
  width: 0%;
  background: #1877f2;
  position: absolute;
  bottom: -10px;
  transition: width 0.3s;
}
.navbar-center ul li a:hover::after, .navbar-center ul li a.active-link::after{
  width: 100%;
}
.active-link:active{
  opacity: 50%;
}
.navbar-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar-right img {
  width: 34px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}
.online {
  position: relative;
}
.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: rgb(0, 172, 0);
  top: 0;
  right: 0;
  position: absolute;
}
.search-bar {
  display: flex;
  align-items: center;
  background: #f0f2f5;
  padding: 0px 10px;
  border-radius: 50px;
}
.navbar-left{
  display: flex;
  align-items: center;
}
.search-bar img {
  width: 14px;
}
.search-bar input {
  border: none;
  background: transparent;
  margin-left: 8px;
  padding: 8px 0;
  outline: none;
}
.search-bar input::placeholder {
  color: #5f5f5f;
  font-size: 14px;
}

/* ---------------Profile Menu Starts------------ */
.profile-menue-wrap{
  position: absolute;
  top: 100%;
  right: 5%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.profile-menue-wrap.open-now{
  max-height: 400px;
}

.profile-menu{
  background: #222;
  color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5%;
}
.user-info{
  display: flex;
  align-items: center;
}
.user-info img{
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.user-info h3{
  margin-bottom: -5px;
}
.user-info a{
  color: #c9dbf8;
  font-size: 13px;
}
.user-info a:active{
  opacity: 50%;
}
.profile-menu hr{
  border: none;
  height: 1px;
  width: 100%;
  background: #fff;;
  margin: 15px 0 10px;
}
.profile-menu-link{
  display: flex;
  align-items: center;
  color: #fff;
  margin: 12px 0;
  font-size: 14px;
}
.profile-menu-link p{
  width: 100%;
}
.profile-menu-link img{
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

/* ----------Navbar End---------- */


/* -------------------Profile Main Section------------------- */
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

.profile-main{
  width: 73%;
  position: relative;
  top: 55px;
  margin-bottom: 55px;
}

.profile-right-sidebar{
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 55px;
}
.profile-container{
  background: #fff;
}
.profile-container-inner{
  padding: 0 4% 10px;
}
.profile-pic-container{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: -60px 0 20px 0;
  border: 5px solid #fff;
  position: relative;
  z-index: 1;
  background: url(images/user-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile-container h1{
  font-size: 28px;
  font-weight: 600;
  color: #333;
}
.profile-container b{
  font-weight: 500;
}
.profile-container p{
  margin-top: 5px;
}
.profile-container p a{
  color: #045be6;
  font-weight: 500;
}
.mutual-connections{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.mutual-connections img{
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
.profile-btn{
  margin: 20px 0;
}
.profile-btn a{
  display: inline-flex;
  align-items: center;
  background: #e4e6eb ;
  padding: 6px 15px;
  border-radius: 4px;
  margin-right: 10px;
}
.profile-btn a img{
  width: 18px;
  margin-right: 5px;
}
.profile-btn .primary-btn{
  background: #045be6;
  color: #fff;
}
.main-sections-layout{
  background: #fff;
  padding: 20px 4% 30px;
  margin: 12px 0;
}
.main-sections-layout h2{
  color: #333;
  margin: 10px 0 20px;
  font-weight: 600;
}
.see-more-link{
  display: block;
  text-align: right;
  font-size: 15px
}
.exp-element-designing{
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.exp-element-designing img{
  width: 50px;
  margin-right: 25px;
  margin-top: 5px;
}
.exp-element-designing div{
  width: 100%;
}
.exp-element-designing h3{
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.exp-element-designing b{
  display: block;
  font-weight: 500;
  font-size: 15px;
}
.exp-element-designing p{
  margin-top: 15px;
}
.exp-element-designing hr{
  border: 0;
  margin-top: 10px;
  border-bottom: 1px solid #999;
}
.experience-link{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #045be6;
  font-weight: 500;
}
.experience-link img{
  width: 15px;
  margin-left: 10px;
}
.main-sections-layout hr{
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #999;
}

.edu-element-designing{
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.edu-element-designing img{
  width: 40px;  
  margin-right: 30px;
  margin-top: 5px;
}
.edu-element-designing div{
  width: 100%;  
}
.edu-element-designing h3{
  font-size: 18px;  
  margin-bottom: 4px;
  color: #222;
}
.edu-element-designing b{
  font-size: 14px;  
  color: #5f5f5f;
  font-weight:600;
  margin: 4px 0;
}
.edu-element-designing hr{
  border: 0;
  margin-top: 15px;
  border-bottom: 1px solid #999;
}
.ski-element-designing a{
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 5px;
  font-weight: bold;
  border: 1px solid #333;
  border-radius: 20px;
  outline: none;
}
.lng-element-desgning{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.lng-element-desgning a{
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 5px;
  font-weight: bold;
  background: #888;
  border-radius: 10px;
  color: #fff;
  outline: none;
}

/* ----------------Sidebar Profile Layout Starts------------------- */
.sidebar-ad{
  background: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}
.sidebar-ad img{
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}
.sidebar-ad small{
  float: right;
  font-weight: 500;
}
.sidebar-ad p{
  margin-top: 30px;
  margin-bottom: 10px;
}
.sidebar-ad b{
  display: block;
  font-weight: 500;
  margin-top: 10px;
}
.ad-link{
  display: inline-block;
  border: 1px solid #045be6;
  padding: 5px 15px;
  border-radius: 50px;
  color: #045be6;
  font-weight: 500;
  margin: 20px auto 10px;
}
.ad-link:hover{
  background: #045be6;
  color: #fff;
  transition: 0.2s ease;
}
.ad-link:active{
  opacity: 50%;
}

.profile-right-sidebar .sidebar-ad{
  margin-top: 0;
}
.U-may-know-section{
  background: #fff;
  padding: 15px 25px;
  margin-bottom: 12px;
}
.U-may-know-section h3{
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.know-person{
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
.know-person img{
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.know-person p, a{
  display: block;
  font-size: 14px;
}
.know-person h2{
  font-weight: 500;
  font-size: 18px;
}
.active-link:active{
  opacity: 50%;
}
.connect-btn{
  display: inline-block;
  border: 1px solid #045be6;
  padding: 5px 20px;
  border-radius: 50px;
  color: #045be6;
  font-weight: 500;
  margin: 5px 0;
}
.sidebar-useful-links{
  padding: 15px 25px;
  margin-top: 50px;
  text-align: center;
}
.sidebar-useful-links a{
  display: inline-block;
  font-size: 18px;
  margin: 4px 5px;
}

.copyright-msg{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
}
.copyright-msg img{
  width: 18px;
  margin-right: 4px;
}
